<html>
    <h2 class="page-header">Broker</h2>
    {{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
    {{/if}}
  <body>
    <h1></h1>
    <!-- Wrapper-->
    <div id="wrapper">
      <!-- USER INFO-->
      <!-- /USER INFO-->
      <!-- USER LIST-->
      <h2>Account List</h2>
      <div id="accountList">
        <table>
          <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Loan Amount</th>
            <th>Wealth Collateral</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <!-- /USER LIST-->
      <!-- ADD USER-->
      <h2>Add Collateral </h2>
      <div id="addAccount">
        <form method="post" action="/broker" >
        <input type="text" class="form-control" placeholder="firstName" name="firstName">
        <input type="text" class="form-control" placeholder="lastName" name="lastName">
        <input type="text" class="form-control" placeholder="Stock1" name="Stock1">
        <input type="text" class="form-control" placeholder="quantity1" name="quantity1">
        <input type="text" class="form-control" placeholder="Stock2" name="Stock2">
        <input type="text" class="form-control" placeholder="quantity2" name="quantity2">
        <button id="btnAddAccount">Add Account</button>
        </form>
      </div>
      <!-- /ADD USER-->
    </div>
    <!-- /WRAPPER-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/global.js"></script>
  </body>
</html>