<html>
<nav>
  <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="/users/brokeragreement">Issue Agreement</a></li>
  </ul>
</nav>
    <h2 class="page-header">Dashboard</h2>
    {{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
    {{/if}}
  <body>
    <h1></h1>
    <!-- Wrapper-->
    <div id="wrapper">
      <!-- USER INFO-->
      <!-- /USER INFO-->
      <!-- USER LIST-->
      <div class = "form-group col-xs-6">
        <h3>Account List</h3>
      </div>
      <div class = "form-group col-xs-6">
      <h3>Insert Collateral File</h3>
        <form id      =  "uploadForm"
              enctype   =  "multipart/form-data"
              action    =  "upload"
              method    =  "post"
          >
        <input type="file" name="file" />
        <input type="submit" value="Upload" name="submit">
        </form>
      </div>
     <!--  <form method="post" action="/users/underwater" >
        <div align = "center">
        <button id="underwater">Underwater?</button>
        </div>
      </form> -->

      <div id="accountList">
        <table style = "width: 100%" >
        <style>
          table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
          }
          th, td {
              padding: 5px;
              text-align: left;
          }
          </style>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Lender</th>
            <th>Loan Amount</th>
            <th>Total Collateral</th>
            <th>Loan Credit</th>
            <th>Status</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <!-- /USER LIST-->
      <!-- ADD USER-->
      <h4>Add Account</h4>
      <div id="addAccount">
        <form method="post" action="/users/brokerindex" >
        <div class = "form-group col-xs-6">
          <input type="text" class="form-control" placeholder="First Name" name="firstName">
        </div>
        <div class = "form-group col-xs-6">
          <input type="text" class="form-control" placeholder="Last Name" name="lastName">
        </div>
        <div class = "form-group col-xs-4">
          <strong>CASH</strong>
        </div>
        <div class = "form-group col-xs-4">
          <input type="text" class="form-control" placeholder="$" name="cashvalue">
        </div>
        <div class = "form-group col-xs-4">
          <input type="text" class="form-control" placeholder="Margin %" name="cashmargin">
        </div>
        <div class = "form-group col-xs-4">
          <strong>EQUITY</strong>
        </div>
        <div class = "form-group col-xs-4">
          <input type="text" class="form-control" placeholder="$" name="equityvalue">
        </div>
        <div class = "form-group col-xs-4">
          <input type="text" class="form-control" placeholder="Margin %" name="equitymargin">
        </div>
        <div class = "form-group col-xs-4">
          <strong>REAL ESTATE</strong>
        </div>
        <div class = "form-group col-xs-4">
          <input type="text" class="form-control" placeholder="$" name="landvalue">
        </div>
        <div class = "form-group col-xs-4">
          <input type="text" class="form-control" placeholder="Margin %" name="landmargin">
        </div>
        <div class = "form-group col-xs-4">
          <strong>BUSINESS ASSETS</strong>
        </div>
        <div class = "form-group col-xs-4">
          <input type="text" class="form-control" placeholder="$" name="businessvalue">
        </div>
        <div class = "form-group col-xs-4">
          <input type="text" class="form-control" placeholder="Margin %" name="businessmargin">
        </div>
        <div class = "form-group col-xs-4">
          <strong>LOAN VALUE</strong>
        </div>
        <div class = "form-group col-xs-4">
          <input type="text" class="form-control" placeholder="$" name="loanvalue">
        </div>
        <div align = "center">
        <button id="btnAddAccount">Submit</button>
        </div>
        </form>
      </div>
      <!-- /ADD USER-->
    </div>
    <!-- /WRAPPER-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/global.js"></script>
  </body>
</html>