<nav>
  <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="/clientindex">Dashboard</a></li>
  </ul>
</nav>
<h2 class="page-header">Agreement</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
{{!-- <img src="http://res.cloudinary.com/sidkasat/image/upload/v1501786085/20628917_733628073487622_69520365_o_kmvdqx.png" alt="agreement" style="width:304px;height:228px;"> --}}
<img src="http://res.cloudinary.com/sidkasat/image/upload/v1501786085/20628917_733628073487622_69520365_o_kmvdqx.png" alt=""/>
<form method="post" action="/users/clientagreement">
<div class="form-group">
    <label>Insert Broker Name</label>
    <input type="text" class="form-control" placeholder="Signature" name="brokerpartner">
  </div>
<div class="form-group">
    <label>Insert Lending Bank</label>
    <input type="text" class="form-control" placeholder="Signature" name="lendingpartner">
  </div>
   <div class="form-group">
    <label>Signing this constitutes as an physical signature</label>
    <input type="text" class="form-control" placeholder="Signature" name="signature">
  </div>
  <button type="submit" class="btn btn-default">Accept Agreement</button>
</form>