<h2 class="page-header">Agreement</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
{{!-- <img src="agreement.jpg" alt="agreement" style="width:304px;height:228px;"> --}}
<img src="agreement.jpg" alt=""/>
<form method="post" action="/users/lenderagreement">
   <div class="form-group">
    <label>Signing this constitutes as an physical signature</label>
    <input type="text" class="form-control" placeholder="Signature" name="signature">
  </div>
  <button type="submit" class="btn btn-default">Accept Agreement</button>
</form>