<!DOCTYPE html>
<html>
    <h2 class="page-header">Lender</h2>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1></h1>
    <!-- Wrapper-->
    <div id="wrapper">
      <!-- USER INFO-->
      <!-- /USER INFO-->
      <!-- USER LIST-->
      <h2>Account List</h2>
      <div id="accountList">
        <table>
          <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Loan Amount</th>
            <th>Wealth Collateral</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <!-- /USER LIST-->
      <!-- ADD USER-->
      <h2>Add Account & Stocks</h2>
      <div id="addAccount">
        <fieldset>
          <input id="firstName" type="text" placeholder="First Name">
          <input id="lastName" type="text" placeholder="Last Name"><br>
          <input id="Stock1" type="text" placeholder="Stock 1">
          <input id="quantity1" type="text" placeholder="No. of Shares"><br>
          <input id="Stock2" type="text" placeholder="Stock 2">
          <input id="quantity2" type="text" placeholder="No. of Shares"><br>
          <button id="btnAddAccount">Add Account</button>
        </fieldset>
      </div>
      <!-- /ADD USER-->
    </div>
    <!-- /WRAPPER-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/global.js"></script>
  </body>
</html>