<html>
<nav>
  <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="/users/lenderagreement">Control Agreement</a></li>
  </ul>
</nav>
    <h2 class="page-header">Lender Dashboard</h2>
    {{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
    {{/if}}
  <body>
    <h3>Check Agreement Status</h3>
  <form method="post" action="/users/check" >
    <div class = "form-group col-xs-4">
      <input type="text" class="form-control" placeholder="Client" name="client">
    </div>
    <div class = "form-group col-xs-4">
      <input type="text" class="form-control" placeholder="Broker" name="broker">
    </div>
    <div class = "form-group col-xs-4">
     <div align = "left">
        <button id="btnAddAccount">Check</button>
      </div>
      </div>
  </form>
    <h3>Account List</h3>
      <div id="accountList">
        <table style = "width: 100%" >
        <style>
          table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
          }
          th, td {
              padding: 5px;
              text-align: left;
          }
          </style>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Broker</th>
            <th>Loan Amount</th>
            <th>Total Collateral</th>
            <th>Loan Credit</th>
            <th>Status</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    <!-- /WRAPPER-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/global.js"></script>
    <div>
      <!-- TradingView Widget BEGIN -->
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
new TradingView.widget({
  "width": 700,
  "height": 400,
  "symbol": "NASDAQ:AAPL",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "White",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "hideideas": true
});
</script>
<!-- TradingView Widget END -->

    </div>
  </body>
</html>